<template>
  <v-app>
    <v-main>
      <v-app-bar app dark color="indigo">
        <v-toolbar-title>Online Library</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items id="nav">
          <v-btn class="btn no-active" text to="/">Home</v-btn>
          <v-btn class="btn no-active" text to="/books">Books</v-btn>
          <v-btn class="btn no-active" text to="/addbook">Add Book</v-btn>
          <v-btn class="btn no-active pr-5" text to="/logout">Logout</v-btn>
        </v-toolbar-items>
      </v-app-bar>
      <div style="min-height: calc(100vh - 96px)">
        <router-view></router-view>
      </div>
      <v-footer color="" class="mt-7" style="background-color: #c2d2ff">
        <v-row justify="center" class="my-10" no-gutters>
          <v-col class="text-center" cols="12">
            <p class="text-h6">Online library</p>
            <p class="subtitle-1">Just read books!</p>
            <p class="body-2">
              Copyright ©

              {{ new Date().getFullYear() }}
            </p>
          </v-col>
        </v-row>
      </v-footer>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",
  components: {},
}

document.cookie = "AC-C=ac-c;expires=Fri, 31 Dec 9999 23:59:59 GMT;path=/;SameSite=Lax"
</script>

<style lang="scss">
#app {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
@import "./assets/scss/index.scss";
</style>
