.waves {
  width: 100vw;
  position: relative;
  max-height: 25vh;
}
.wave-wrapper {
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 20vh;
  background: transparent;
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
}
.wave-wrapper svg {
  width: 100%; /* do not change this */
  height: 100%; /* do not change this */
}

.wave {
  animation-iteration-count: infinite;
  fill: #7ea1ff; /* COLOR */
  opacity: 0.5; /* wave 1 opacity */
}

#wave1 {
  -webkit-animation: animation-wave infinite 50s ease-in-out;
  animation: animation-wave infinite 50s ease-in-out;
  opacity: 0.5; /* wave 1 opacity */
}
#wave2 {
  -webkit-animation: animation-wave infinite reverse 22s ease-in-out;
  animation: animation-wave infinite reverse 22s ease-in-out;
  opacity: 0.4; /* wave 2 opacity */
}
#wave3 {
  -webkit-animation: animation-wave-updown infinite 10s ease-in-out;
  animation: animation-wave-updown infinite 10s ease-in-out;
  opacity: 0.3; /* wave 3 opacity */
}

/* animation left-right */
@-webkit-keyframes animation-wave {
  from {
    -webkit-transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-50%);
  }
}
@keyframes animation-wave {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
/* animation up-down */
@-webkit-keyframes animation-wave-updown {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
@keyframes animation-wave-updown {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}

.svg-animation180 {
  transform: rotate(180deg);
  top: -60px;
}
