<template>
  <div class="books">
    <v-container class="pa-5" fluid>
      <v-form>
        <v-text-field outlined required :rules="rules" label="title *" v-model="form.title"></v-text-field>
        <v-text-field outlined required :rules="rules" label="photo *" v-model="form.photo"></v-text-field>
        <v-text-field outlined required :rules="rules" label="author *" v-model="form.author"></v-text-field>
        <v-text-field outlined required :rules="rules" label="description *" v-model="form.description"></v-text-field>
        <v-textarea outlined required :rules="rules" rows="4" label="bookText *" v-model="form.bookText"></v-textarea>
        <v-text-field outlined required :rules="rules" label="pageCount *" v-model="form.pageCount"></v-text-field>
        <v-btn class="btn" block dark color="pink" depressed @click="submit"> Add Book </v-btn>
      </v-form>
    </v-container>
  </div>
</template>

<script>
import axios from "axios"
export default {
  data() {
    return {
      form: {
        title: "",
        description: "",
        pageCount: "",
        bookText: "",
        author: "",
        publishDate: new Date().toDateString(),
        photo: "",
      },
      rules: [(v) => !!v || "Required"],
    }
  },
  mounted() {},
  methods: {
    validate() {
      this.$refs.form.validate()
    },
    async submit() {
      const that = this

      try {
        let result = await axios.post(
          // any call like get
          "http://localhost:7000/api/books/addbook", // your URL
          {
            // data if post, put
            ...that.form,
          }
        )
        console.log(result)
      } catch (error) {
        console.error(error.response) // NOTE - use "error.response.data` (not "error")
      }

      // axios.post("http://localhost:7000/api/books/addbook", { ...that.form }, { crossDomain: true }).then(
      //   (response) => {
      //     console.log(response)
      //   },
      //   (error) => {
      //     console.log(error)
      //   }
      // )
    },
  },
}
</script>
