<template>
  <div class="books" :key="currentData.length">
    <v-container class="pa-5" fluid>
      <v-row align="center" align-content="space-between" justify="space-between">
        <v-col class="d-flex" cols="3">
          <v-select
            @change="onChange()"
            v-model="select"
            :items="items"
            item-text="label"
            item-value="amount"
            label="books on page"
            persistent-hint
            return-object
            outlined
          ></v-select>
        </v-col>
        <v-col cols="3">
          <v-text-field
            label="Search book"
            v-model="searchedBookName"
            outlined
            @input="handleSearchBook()"
          ></v-text-field>
        </v-col>
      </v-row>
      <div class="d-flex flex-column justify-start">
        <v-row no-gutters>
          <template v-for="(book, i) in currentData">
            <v-col :key="i" cols="4" md="4" sm="6" xs="12" class="pa-2">
              <v-card>
                <v-img class="white--text align-end" height="300px" :src="book.photo"> </v-img>

                <v-card-title class="pb-1 text-h5" v-text="book.title"></v-card-title>

                <v-card-text class="text--secondary" v-text="book.description"> </v-card-text>

                <v-card-actions>
                  <v-btn class="btn" color="indigo" text>Learn More</v-btn>

                  <v-btn class="btn" color="indigo" text>Delete book</v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </template>
        </v-row>
      </div>
      <div class="text-center mt-5">
        <v-pagination v-model="page" :length="totalPages" circle @input="onChange()"></v-pagination>
      </div>
    </v-container>
  </div>
</template>

<script>
import axios from "axios"

export default {
  data() {
    return {
      select: { amount: 12, label: "12 books" },
      items: [
        { amount: 6, label: "6 books" },
        { amount: 12, label: "12 books" },
        { amount: 18, label: "18 books" },
        { amount: 30, label: "30 books" },
        { amount: 60, label: "60 books" },
      ],
      data: [],
      currentBooks: [],
      currentData: [],
      page: 1,
      totalPages: 0,
      searchedBookName: "",
    }
  },
  mounted: function () {
    const that = this

    axios
      .get("http://localhost:7000/api/books", { crossDomain: true })
      .then(function (response) {
        if (response.status === 200) {
          that.data = response.data
          that.currentBooks = response.data
          that.init()
        } else {
          console.log("error")
        }
      })
      .catch(function (error) {
        console.log(error)
      })
  },
  methods: {
    init() {
      const pageLimit = this.select.amount
      const pageNumber = this.page

      const startPoint = (pageNumber - 1) * pageLimit
      const endPoint = startPoint + pageLimit
      const totalPages = Math.ceil(this.currentBooks.length / pageLimit)
      // `this` points to the vm instance
      this.currentData = this.currentBooks.slice(startPoint, endPoint)

      this.totalPages = totalPages > 0 ? totalPages : 1

      return
    },
    onChange() {
      this.init()
    },
    handleSearchBook() {
      console.log(this.searchedBookName)

      this.currentBooks = this.data.filter((book) =>
        book.title.toLowerCase().includes(this.searchedBookName.toLowerCase())
      )
      console.log(this.currentBooks)
      this.init()
    },
  },
}
</script>
