<template>
  <div class="home">
    <v-img lazy-src="https://source.unsplash.com/random" max-height="300" src="https://source.unsplash.com/random">
      <v-container class="fluid fill-height white--text">
        <div class="d-flex flex-column justify-start">
          <p class="text-h3">Card title</p>
          <p class="text-h5">Card desc</p>
          <p class="text-h6">Card title</p>
          <v-btn class="btn" outlined color="indigo"> Learn More </v-btn>
        </div>
      </v-container>
    </v-img>

    <v-container class="fluid">
      <p class="text-h2 text-center mt-15">Our features</p>
      <span class="d-flex justify-space-around mt-15">
        <div class="d-flex align-center flex-column">
          <p class="text-h4">1000+</p>
          <p class="text-h5">books</p>
        </div>
        <div class="d-flex align-center flex-column">
          <p class="text-h4">Comfortable</p>
          <p class="text-h5">usage</p>
        </div>
        <div class="d-flex align-center flex-column">
          <p class="text-h4">Everywhere</p>
          <p class="text-h5">with you</p>
        </div>
      </span>
    </v-container>
    <!-- <v-img src="../assets/images/AnimBook1.png"> </v-img> -->
    <div class="waves">
      <span class="wave-wrapper">
        <svg viewBox="0 0 673 10">
          <defs>
            <path
              xmlns="http://www.w3.org/2000/svg"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M428.62 23.0838C474.982 -7.0189 545.077 -7.54598 594.751 23.0838C594.751 23.0838 603.03 29.901 635.042 39.9831C667.053 50.0653 696.306 50.0653 696.306 50.0653H709V56.6879L337.5 55.8087L337.5 55.8159L0.500031 55.8159V49.5457H12C12 49.5457 38.5 49.5457 67.5 40C96.5 30.4544 104 24 104 24C149 -5 212.5 -4.50097 254.5 24C254.5 24 275 38.5 298.5 46C322 53.5 337.5 51.5 337.5 51.5C337.5 51.5 354.11 54.2418 380.05 46.3203C405.991 38.3988 428.62 23.0838 428.62 23.0838Z"
              id="wave"
            />
          </defs>
          <use id="wave3" class="wave" xlink:href="#wave" x="0" y="0"></use>
          <use id="wave2" class="wave" xlink:href="#wave" x="0" y="-9"></use>
          <use id="wave1" class="wave" xlink:href="#wave" x="0" y="-12" />
        </svg>
      </span>
      <span class="wave-wrapper">
        <svg class="svg-animation180" viewBox="0 0 673 10">
          <defs>
            <path
              xmlns="http://www.w3.org/2000/svg"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M428.62 23.0838C474.982 -7.0189 545.077 -7.54598 594.751 23.0838C594.751 23.0838 603.03 29.901 635.042 39.9831C667.053 50.0653 696.306 50.0653 696.306 50.0653H709V56.6879L337.5 55.8087L337.5 55.8159L0.500031 55.8159V49.5457H12C12 49.5457 38.5 49.5457 67.5 40C96.5 30.4544 104 24 104 24C149 -5 212.5 -4.50097 254.5 24C254.5 24 275 38.5 298.5 46C322 53.5 337.5 51.5 337.5 51.5C337.5 51.5 354.11 54.2418 380.05 46.3203C405.991 38.3988 428.62 23.0838 428.62 23.0838Z"
              id="wave"
            />
          </defs>
          <use id="wave3" class="wave" xlink:href="#wave" x="0" y="0"></use>
          <use id="wave2" class="wave" xlink:href="#wave" x="0" y="-9"></use>
          <use id="wave1" class="wave" xlink:href="#wave" x="0" y="-12" />
        </svg>
      </span>
    </div>

    <v-container class="pt-5" fluid>
      <p class="text-h2 text-center mt-15">Contacts</p>
      <span class="d-flex justify-space-between mt-15">
        <div class="d-flex flex-column justify-start">
          <p class="text-h6">Welcome on Online Library</p>
          <p class="text-h6">Telephone: <a href="tel:+380955525742">+380955525742</a></p>
          <p class="text-h6">
            E-mail:
            <a href="mailto:valeriiadolzhenko@gmail.com"> valeriiadolzhenko@gmail.com </a>
          </p>
        </div>
        <iframe
          class="ml-5"
          style="width: 70%; height: 45vh"
          title="Map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2656.4155098105616!2d25.944563215653083!3d48.256377879233064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47340f2ecf39331d%3A0xad9e50d9d97d5d39!2z0YPQuy4g0JLQvtGA0L7QsdC60LXQstC40YfQsCwg0KfQtdGA0L3QvtCy0YbRiywg0KfQtdGA0L3QvtCy0LjRhtC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNTgwMDA!5e0!3m2!1sru!2sua!4v1591734358710!5m2!1sru!2sua"
        ></iframe> </span
    ></v-container>
  </div>
</template>

<script>
export default {
  name: "Home",
}
</script>
